apipkg==1.5
attrs==19.3.0
click==7.1.2
coverage==5.2
execnet==1.7.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
pytest-forked==1.2.0
pytest-xdist==1.33.0
six==1.15.0
wcwidth==0.2.5
Werkzeug==1.0.1
